@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "primeicons/primeicons.css";
@plugin "daisyui";

@theme {
	--font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
	--color-surface: #fcf8ff;
	--color-surface-dim: #ddd8e0;
	--color-surface-container-lowest: #ffffff;
	--color-surface-container-low: #f7f2f9;
	--color-surface-container: #f1ecf3;
	--color-surface-container-high: #ebe7ee;
	--color-surface-container-highest: #e5e1e8;
	--color-on-surface: #1c1b20;
	--color-on-surface-variant: #464555;
	--color-outline: #777587;
	--color-outline-variant: #c7c4d8;
	--spacing-nav: 80px;
	--spacing-sidebar: 280px;
	--spacing-gutter: 24px;
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: #ffffff;
	--color-base-200: #f7f2f9;
	--color-base-300: #e5e1e8;
	--color-base-content: #1c1b20;
	--color-primary: #635bff;
	--color-primary-content: #ffffff;
	--color-secondary: #5d5e61;
	--color-secondary-content: #ffffff;
	--color-accent: #5351a5;
	--color-accent-content: #ffffff;
	--color-neutral: #1c1b20;
	--color-neutral-content: #ffffff;
	--color-info: #4c42e9;
	--color-info-content: #ffffff;
	--color-success: #146c3e;
	--color-success-content: #ffffff;
	--color-warning: #8f4e00;
	--color-warning-content: #ffffff;
	--color-error: #ba1a1a;
	--color-error-content: #ffffff;
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
